body {
  margin: 0;
  font-family: "Podkova", serif;
  background: #fffdf5;
  color: #333;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #f5d142;
}
.navbar .logo p {
  font-size: 22px;
  font-weight: bold;
}
.navlist {
  list-style: none;
  display: flex;
  gap: 25px;
}
.navlist li {
  cursor: pointer;
  font-weight: 500;
}

.navlist li:hover {
  color: #9500ff;
}
.unbox-btn {
  background: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.unbox-btn a{
  color: whitesmoke;
}


.login-container {
  max-width: 420px;
  margin: 60px auto;
  padding: 30px;
  background: #f9f9f9;
  border-radius: 14px;
  box-shadow: 0px 6px 18px rgba(0,0,0,0.1);
  text-align: center;
}

.login-container h1 {
  font-family: 'Jersey 10', sans-serif;
  font-size: 28px;
  margin-bottom: 20px;
}

.login-form input,
.login-form textarea {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.login-form textarea {
  height: 80px;
  resize: none;
}

.options {
  text-align: right;
  margin: 10px 0;
}

.options a {
  font-size: 13px;
  color: #ff0077;
  text-decoration: none;
}

.options a:hover {
  text-decoration: underline;
}


.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.buttons button {
  flex: 1;
  margin: 5px;
  padding: 12px;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.signin {
  background: #ffd600;
  color: #222;
}

.signup {
  background: #ff0077;
  color: #fff;
}

.join-club {
    padding: 60px 20px;
}

.join-club h2 {
    font-size: 36px;
    margin-bottom: 10px;
    text-align: center;
}

.join-club h2 span {
    color: #FF3FA4;
}

.join-club p {
    font-size: 15px;
    margin-bottom: 30px;
    color: #555;
    text-align: center;
}

.subscribe-form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.subscribe-form input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 300px;
}

.subscribe-form button {
    background: #FBBF24;
    color: #333;
    font-weight: 600;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
}


footer {
  background: #333;
  color: white;
  padding: 30px 40px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.footer-col h4 {
  margin-bottom: 10px;
}
.footer-col ul {
  list-style: none;
  padding: 0;
}
.footer-col li {
  margin: 5px 0;
}
.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.subscribe-form .msg,
#messageArea {
  width: 100%;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}
