body {
  margin: 0;
  font-family: "Podkova", serif;
  background: #fffdf5;
  color: #333;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #f5d142;
}
.navbar .logo p {
  font-size: 22px;
  font-weight: bold;
}
.navlist {
  list-style: none;
  display: flex;
  gap: 25px;
}
.navlist li {
  cursor: pointer;
  font-weight: 500;
}

.navlist li:hover {
  color: #9500ff;
}
.unbox-btn {
  background: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.unbox-btn a{
  color: whitesmoke;
}


.FAQ {
  text-align: center;
  margin: 50px auto 30px;
}

.FAQ h1 {
  font-family: 'Jersey 10', sans-serif;
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 10px;
  color:#FF3791 ;
}

.FAQ p {
  font-size: 15px;
  color: #555;
}


.questions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 20px;
}

.questions div {
  background: #ffe97f;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.05);
}

.questions div:hover {
  
  box-shadow: 0px 6px 15px rgba(0,0,0,0.1);
}

.questions h2 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #222;
}

.questions p {
  font-size: 14px;
  color: #444;
  line-height: 1.5;
}
.join-club {
    padding: 60px 20px;
}

.join-club h2 {
    font-size: 36px;
    margin-bottom: 10px;
    text-align: center;
}

.join-club h2 span {
    color: #FF3FA4;
}

.join-club p {
    font-size: 15px;
    margin-bottom: 30px;
    color: #555;
    text-align: center;
}

.subscribe-form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.subscribe-form input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 300px;
}

.subscribe-form button {
    background: #FBBF24;
    color: #333;
    font-weight: 600;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
}


footer {
  background: #333;
  color: white;
  padding: 30px 40px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.footer-col h4 {
  margin-bottom: 10px;
}
.footer-col ul {
  list-style: none;
  padding: 0;
}
.footer-col li {
  margin: 5px 0;
}
.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.subscribe-form .msg,
#messageArea {
  width: 100%;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}
